#okvir
{
margin-left:auto;
margin-right:auto;
width:1200px;
}

.naslovnica{
font-size:80px;
text-align:center;
height:100px;
width:100%;
background: -moz-linear-gradient(top, #4DEAFF 0%, #FFFFFF 100%);
background: -webkit-linear-gradient(top, #4DEAFF 0%,#FFFFFF 100%); 
background: linear-gradient(top, #4DEAFF 0%, #FFFFFF 100%); 
box-shadow: 10px 10px 10px;
margin-bottom:20px;
border: #307882 1px solid;
}

div#meni
{
background:orange;
height:20px;
width:100%;
border: #307882 1px solid;
padding-bottom:0px;
}

div#meni > div
{
margin-left:30px;
float:left;
}

div.drugimeni
{
display:none;
border:#307882 1px solid;
top:100%;
border-top:none;
}

div.drugimeni > a
{
display:block;
background:#CDFAE5;
}

div.drugimeni > a:hover{
background:#fff;
border:#06f 1px solid;
color:#000;
}

.kontakt{
margin-top:105px;
}
